/* $Id: printlinks-rtl.css,v 1.1.2.3 2009/03/05 00:45:29 jcnventura Exp $ */

.print-link {
  float:left;
  margin-left: 0;
  margin-right: 1em;
}

.print-syslink {
  margin-right: 0;
  margin-left: 1em;
}

img.print-icon-margin {
  padding-left: 4px;
}

label.printmail-label {
  float: right;
}
